<ul>
<% @events.each do |event| %>
    <li><%= link_to event.title, event_path(event) %></li>
<% end %>
</ul>
<br>
<p><%= button_to 'Create Event', new_event_path %></p>
<%= link_to 'My Account', user_path(current_user), class: "btn btn-primary btn-light" %>