/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap"; 
@import "users";
@import "sessions";
@import "events";
@import "font-awesome";
@import "basscss/basscss-addons";

@media screen and (max-width: 800x){
  .navbar-default{
    background-color: blue;
  }
}

.navbar-default{
  //background-color: white;
  border: none;
  border:1px solid #efefef;
}
.container-fluid{
  max-width: 1100px;
  background-color: white;
}

.footer{
  font-size: 12px;
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
}

.navbar-brand{
  font-family: Arial, Helvetica, sans-serif;
}

.img{
  max-width: 100px;
  height: auto;
}

// .btn-btn-events {}

// .user-section{
//   a{
//     padding-left: 15px;
//   }
//   i.fa{
//     font-size: 22px;
//     color: #000000d4;
//   }
// }

// .img{
//   object-fit: cover;
//   margin-left: 100px;
// }

//  body {
//    padding-top: 100px;
//    padding-bottom: 10px;
//    font-family: Arial, Helvetica, sans-serif
//  }
 
//  .theme-dropdown .dropdown-menu {
//    position: static;
//    display: block;
//    margin-bottom: 20px;
//  }
 
//  .theme-showcase > p > .btn {
//    margin: 5px 0;
//  }
 
//  .center {
//    text-align: center;
//    font: 18px Helvetica, sans-serif
//  }

//  .path1 {
//   text-align: middle;
//   text-indent: 22%;
//  }

//  .path2 {
//   text-align: left;
//   text-indent: 4%;
//  }

//  .header {
//   text-align: left;
//   margin: 20px;
//   font: 15px Helvetica, sans-serif;
//  }

//  .body {
//   font: 14px Helvetica, sans-serif;
//  }
 
// //  .pic,
//  .info1 {
//    padding: 35px;
//    display: inline-block;
//    background-color: #d7deeb;
//    border-radius: 20px;
//    vertical-align: middle;
//    margin: 20px;
//   //  margin-top: 10px;
//   //  margin-bottom: 10px;
//  }

//  .info2 {
//   padding: 35px;
//   display: inline-block;
//   background-color: #d7deeb;
//   border-radius: 20px;
//   vertical-align: middle;
//   margin: 10px;
  // margin-top: 10px;
  // margin-bottom: 10px;
// }
 
//  .info {
//    height: 290px;
//    text-align: left;
//}